services:
  app:
    build:
      context: .
    volumes:
      - ./backend:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: on-failure
    command: >
      sh -c "python manage.py && python manage.py && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db

  db:
    image: postgres:latest
    env_file:
      - .env
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - "5437:5432"
    restart: on-failure

  web:
    image: nginx:bookworm
    ports:
      - "80:80"

    volumes:
      - ./client:/usr/share/nginx/html
      - ./backend/staticfiles:/usr/share/nginx/doc
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: on-failure
    depends_on:
      - app